<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Color List</title>
</head>
<body>
<h2>Color List</h2>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="color : ${colors}">
    <td th:text="${color.id}"></td>
    <td th:text="${color.name}"></td>
    <td>
      <a th:href="@{/colors/{id}(id=${color.id})}">Details</a>
      |
      <a th:href="@{/colors/{id}/edit(id=${color.id})}">Edit</a>
      |
      <a th:href="@{/colors/{id}/delete(id=${color.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<br/>
<a href="/colors/create">Create New Color</a>
</body>
</html>
